PORT=8000
MONGODB_URI=mongodb+srv://shibananda22prusty:shibananda123@video-tube.syfr7.mongodb.net
CORS_ORIGIN=*
ACCESS_TOKEN_SECRET=12345QWERTY
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=POIUY54321
REFRESH_TOKEN_EXPIARY=10d
CLOUDINARY_CLOUD_NAME= da9hotm8j
CLOUDINARY_API_KEY= 978827239465848
CLOUDINARY_API_SECRET= CpMNRZpFo6TEmt_oI59npPpc9WQ